<!-- tu-componente.component.html -->
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">Inicio</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto"> <!-- Aplicar la clase ml-auto aquí -->
          <!-- Lógica condicional para mostrar el botón de inicio de sesión o el icono del usuario -->
          <ng-container *ngIf="!usuarioLogueado; else usuarioLogueadoTemplate">
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
            </li>
          </ng-container>
          <ng-template #usuarioLogueadoTemplate>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Cerrar Sesión</a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
