<div class="menu-usuario d-flex">
  <div class="dropdown">
    <button class="btn btn-primary btn-sm dropdown-toggle m-1" type="button" id="categoriaDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Categoría de Producto
    </button>
    <div class="dropdown-menu" aria-labelledby="categoriaDropdown">
      <a class="dropdown-item" href="#">Categoría 1</a>
      <a class="dropdown-item" href="#">Categoría 2</a>
    </div>
  </div>
  
  <a routerLink="/listado-productos" class="btn btn-primary btn-sm m-1">Listado de Productos</a>
  
  <input type="text" class="form-control form-control-sm m-1" style="width: 150px;" placeholder="Buscar Productos">

  <div class="dropdown" id="historialDropdownContainer">
    <button class="btn btn-primary btn-sm dropdown-toggle m-1" type="button" id="historialDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Historial de Compras
    </button>
    <div class="dropdown-menu" aria-labelledby="historialDropdown" id="historialDropdownMenu">
      <a class="dropdown-item" href="#">Categoría 1</a>
      <a class="dropdown-item" href="#">Categoría 2</a>
    </div>
  </div>
  
  <button class="btn btn-primary btn-sm m-1">Gestión de Usuario</button>
</div>
